<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
<nav>
    <ul class="nav-list">
        <li class="nav-item"><a href="{% url 'home' %}">Главная</a></li>
        <li class="nav-item"><a href="{% url 'demand' %}">Востребованность</a></li>
        <li class="nav-item"><a href="{% url 'areas' %}">География</a></li>
        <li class="nav-item"><a href="{% url 'skills' %}">Навыки</a></li>
        <li class="nav-item"><a href="{% url 'vacancies' %}">Последние вакансии</a></li>
    </ul>
</nav>
</header>
<main>
{% block main %}

{% endblock %}
</main>
<footer>
    Irina
</footer>
</body>
</html>