{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'dev1C/css/style.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Cantarell&family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
<header>
<nav>
    <ul class="nav-list">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}"><img class="nav-icon" src="{% static 'dev1C/image/Home.png' %}">
            <p>Главная</p></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'demand' %}"><img class="nav-icon" src="{% static 'dev1C/image/Demand.png' %}">
            <p>Востребованность</p></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'areas' %}"><img class="nav-icon" src="{% static 'dev1C/image/Areas.png' %}">
            <p>География</p></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'skills' %}"><img class="nav-icon" src="{% static 'dev1C/image/Skills.png' %}">
            <p>Навыки</p></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'vacancies' %}"><img class="nav-icon" src="{% static 'dev1C/image/Vacancies.png' %}">
            <p>Последние вакансии</p></a>
        </li>
    </ul>
</nav>
    <div class="logo">
    <img src="{% static 'dev1C/image/Logo.png' %}">
        </div>
</header>
<main>
{% block title_page %}{% endblock %}
{% block main %}
    {% for block in blocks %}
        <section>
        <h2 class="title-{{ block.pk }}">{{ block.title }}</h2>
        <div class="section-{{ block.pk }}">
        {% get_all_content block.pk as contents %}
        {% for content in contents %}
            <div class="content-{{ content.pk }}">
            <p>{{ content.title }}</p>
            {% if content.type == 'text' %}
                {% get_list content as list %}
                {% for p in list %}
                    <p>{{ p }}</p>
                {% endfor %}

            {% elif content.type == 'image' %}
                <img src="{{ content.image.url }}">
            {% elif content.type == 'table' %}
                {% show_table content %}
            {% elif 'list' %}
                {% get_list content as list %}
                <ul class="content-{{ content.pk }}">
                    {% for li in list %}
                        <li>{{ li }}</li>
                {% endfor %}
                </ul>
                {% endif %}
            <style type="text/css">
            .content-{{ content.pk }} {
            {{ content.style }}
            }

            .content-{{ content.pk }} p {
                margin-bottom: 20px;
                margin-top: 0;
            }
            </style>
            </div>
            {% endfor %}
        <style type="text/css">
        .section-{{ block.pk }} {
        {{ block.style|safe }}
        }

        .title-{{ block.pk }} {
        {{ block.title_style|safe }}
        }
        </style>
        </div>
        </section>
    {% endfor %}
{% endblock %}
</main>
<footer>
    <div class="author">
    <p>Ронжина Ирина Алексеевна АТ-11<p>
    <p>РИ-210943</p>
    </div>
</footer>
</body>
</html>