{% extends 'dev1C/base.html' %}
{% load static %}
{% block title_page %}
    <section class="lead">
    <h1>1С Разработчик</h1>
    <p>На каждом предприятии, большом и малом, ведётся учёт. Считают всё: сколько продукции было выпущено, сколько материалов было на это потрачено, какую зарплату выдали сотрудникам, какие налоги заплатили и многое другое.Так или иначе, но считают все компании. Где-то учёт ведут от руки в блокноте, где-то используют Excel, а где-то — системы автоматизированного учёта, которые ускоряют и упрощают процесс. Ни одно более или менее крупное предприятие не может обойтись без таких систем.</p>
    <img src="{% static 'dev1C/image/1C.png' %}" class="lead-img">
    </section>
{% endblock %}